@model List<Producto>
@{
    ViewData["Title"] = "Lista de productos";
}
<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Producto")'">Nuevo Producto</button>

<p>En esta pagina se muestran los productos.</p>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var Item in Model){
        <tr>
            <td>@Item.IdProducto</td>
            <td>@Item.Nombre</td>
            <td>@Item.Descripcion</td>
            <td>@Item.Cantidad</td>
            <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" asp-action="Delete" asp-route-IdProducto="@Item.IdProducto" class="btn btn-warning"><i class="bi bi-trash-fill"></i></a>
                        <a type="button" asp-action="Edit" asp-route-IdProducto="@Item.IdProducto"  class="btn btn-info"><i class="bi bi-pencil-square"></i></a>

                        <a type="button" asp-action="Details" asp-route-IdProducto="@Item.IdProducto"  class="btn btn-danger"><i class="bi bi-eye-fill"></i></a>
                    </div>
               
             </td>

        </tr>
        }
    </tbody>
</table>
